# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/test
/public/logo.xcf
/public/results/datasets_normalized/*
!/public/results/datasets_normalized/info.md
/public/results/clusterIndexResults/*
!/public/results/clusterIndexResults/info.md
/public/results/renderResults/*
!/public/results/renderResults/info.md
/public/results/timelineResults/*
!/public/results/timelineResults/info.md
/public/results/clusterWcssResults/*
!/public/results/clusterWcssResults/info.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
